# ======================================================================
# Composer
# ======================================================================
/composer.lock
/composer.phar
/vendor/

# ======================================================================
# PHPUnit
# ======================================================================
/.phpunit.cache
/phpunit.xml
/clover.xml

# ======================================================================
# PHP CS Fixer
# ======================================================================
/.php-cs-fixer.cache

# ======================================================================
# Symfony test application
# ======================================================================
/tests/TestApplication/config/reference.php

# ======================================================================
# Local planning notes
# ======================================================================
/.plans/
